In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
# from google.colab import files
%matplotlib inline

df2010 = pd.read_csv('/Users/christy/Desktop/dataset/2010.csv', dtype={'user_id': int})
df2010
df2010_subset_4PE = df2010[["GEO_ID", "NAME", "DP03_0004PE"]]
df2010_subset_4PE
# df2010_subset_4PE['DP03_0004PE'].unique()
# df2010_subset_4PE_cleaned = df2010_subset_4PE.dropna(subset=['DP03_0004PE'])
# df2010_subset_4PE_cleaned['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/2675005289.py:9: DtypeWarning: Columns (2,3,4,5,6,7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,70,71,72,73,74,75,76,77,78,79,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,114,115,116,117,118,119,120,121,122,123,124,125,126,127,130,131,132,133,134,135,136,137,194,195,196,197,362,363,364,365,366,367,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,686,687,688,689,690,691,692,693,698,699,700,701,718,719,720,721,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,759,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,801,802,803,804,805,806,807,808,809,810,811,812,813,814,817,818,819,820,821,822,825,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,994,995,996,997,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2010 = pd.read_csv('/Users/christy/Desktop/dataset/2010.csv', dtype={'user_id': int})

,GEO_ID,NAME,DP03_0004PE
0,Geography,Geographic Area Name,Percent!!EMPLOYMENT STATUS!!In labor force!!Ci...
1,0500000US01003,"Baldwin County, Alabama",52.9
2,0500000US01015,"Calhoun County, Alabama",45.1
3,0500000US01043,"Cullman County, Alabama",48.0
4,0500000US01049,"DeKalb County, Alabama",51.4
...,...,...,...
814,0500000US72113,"Ponce Municipio, Puerto Rico",35.5
815,0500000US72127,"San Juan Municipio, Puerto Rico",46.1
816,0500000US72135,"Toa Alta Municipio, Puerto Rico",46.5
817,0500000US72137,"Toa Baja Municipio, Puerto Rico",49.1
818,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",47.5

# process data of 2010

In [2]:
# #Drop the first row
# df2010_subset_4PE = df2010_subset_4PE.iloc[1: , :]
# #drop the first columb
# df2010_subset_4PE = df2010_subset_4PE.iloc[: , 1:]
# df2010_subset_4PE

In [3]:
#get the substring of the state
# state = []
# for name in df2010_subset_4PE['NAME']:
#     start = name.find(',')+2
#     name = name[start:]
#     state.append(name)

# df2010_subset_4PE['STATE'] = state
# df2010_state = df2010_subset_4PE[["STATE", "DP03_0004PE"]]
# df2010_state
# df2010_subset_4PE = df2010_subset_4PE["STATE", "DP03_0004PE"]

In [4]:
# #convert the the proper data type 
# df2010_state = df2010_state.astype(dtype={'STATE': 'string'})
# df2010_state = df2010_state.astype(dtype={'DP03_0004PE': 'float'})
# df2010_state.dtypes

In [5]:
# #get all the states into an array
# states = df2010_state["STATE"].unique()

In [6]:
#get the average of all the states
# mean_2010 = []
# for state in states:
#     fil = df2010_state["STATE"] == state
#     select = df2010_state[fil]
#     select_mean = select['DP03_0004PE'].mean()
#     mean_2010.append(select_mean)

# mean_2010
# dataa={"average": mean_2010,
#        "state": states}
# merged_2010 = pd.DataFrame(dataa)
# merged_2010

# The mean of 2010

In [7]:
#mean_2010

In [8]:
# #plot the data out 
# dataa={"average": mean_2010,
#        "state": states}
# merged_2010 = pd.DataFrame(dataa)
# merged_2010

# a = merged_2010.plot.bar(x = "state", y = "average", )
# a

# Process the data of 2011

In [9]:
df2011 = pd.read_csv('/Users/christy/Desktop/dataset/2011.csv')
df2011_subset_4PE = df2011[["GEO_ID", "NAME", "DP03_0004PE"]]
df2011_subset_4PE

,GEO_ID,NAME,DP03_0004PE
0,Geography,Geographic Area Name,Percent!!EMPLOYMENT STATUS!!In labor force!!Ci...
1,0500000US12119,"Sumter County, Florida",45.3
2,0500000US12127,"Volusia County, Florida",45.3
3,0500000US13013,"Barrow County, Georgia",59.9
4,0500000US13015,"Bartow County, Georgia",53.3
...,...,...,...
818,0500000US72135,"Toa Alta Municipio, Puerto Rico",48.2
819,0500000US72137,"Toa Baja Municipio, Puerto Rico",41.9
820,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",49.4
821,0500000US72021,"BayamÃ³n Municipio, Puerto Rico",40.9
822,0500000US72097,"MayagÃ¼ez Municipio, Puerto Rico",28.0

In [10]:
df2012 = pd.read_csv('/Users/christy/Desktop/dataset/2012.csv')
df2012_subset_4PE = df2012[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2012_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/2956920607.py:1: DtypeWarning: Columns (2,3,4,5,6,7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,65,70,71,72,73,74,75,76,77,78,79,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,194,195,196,197,362,363,364,365,366,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,714,715,716,717,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,759,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,817,818,819,820,821,822,825,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2012 = pd.read_csv('/Users/christy/Desktop/dataset/2012.csv')

In [11]:
df2013 = pd.read_csv('/Users/christy/Desktop/dataset/2013.csv')
df2013_subset_4PE = df2013[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2013_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/3193248196.py:1: DtypeWarning: Columns (2,3,4,5,6,7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,65,70,71,72,73,74,75,76,77,78,79,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,194,195,196,197,362,363,364,365,366,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,599,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,714,715,716,717,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,759,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,817,818,819,820,821,822,823,826,827,828,829,830,831,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2013 = pd.read_csv('/Users/christy/Desktop/dataset/2013.csv')

In [12]:
df2014 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')
df2014_subset_4PE = df2014[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2014_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/1420389631.py:1: DtypeWarning: Columns (194,195,196,197,362,363,364,365,366,367,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,706,707,708,709,710,713,714,715,716,717,722,723,724,725,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,815,818,819,820,821,822,823,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2014 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')

In [13]:
df2015 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')
df2015_subset_4PE = df2015[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2015_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/1232721589.py:1: DtypeWarning: Columns (194,195,196,197,362,363,364,365,366,367,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,706,707,708,709,710,713,714,715,716,717,722,723,724,725,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,815,818,819,820,821,822,823,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2015 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')

In [14]:
df2016 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')
df2016_subset_4PE = df2016[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2016_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/2778393264.py:1: DtypeWarning: Columns (194,195,196,197,362,363,364,365,366,367,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,706,707,708,709,710,713,714,715,716,717,722,723,724,725,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,815,818,819,820,821,822,823,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2016 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')

In [15]:
df2017 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')
df2017_subset_4PE = df2017[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2017_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/2359763683.py:1: DtypeWarning: Columns (194,195,196,197,362,363,364,365,366,367,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,706,707,708,709,710,713,714,715,716,717,722,723,724,725,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,815,818,819,820,821,822,823,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2017 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')

In [16]:
df2018 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')
df2018_subset_4PE = df2018[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2018_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/2496967957.py:1: DtypeWarning: Columns (194,195,196,197,362,363,364,365,366,367,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,706,707,708,709,710,713,714,715,716,717,722,723,724,725,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,815,818,819,820,821,822,823,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2018 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')

In [17]:
df2019 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')
df2019_subset_4PE = df2019[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2019_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/1279034646.py:1: DtypeWarning: Columns (194,195,196,197,362,363,364,365,366,367,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,706,707,708,709,710,713,714,715,716,717,722,723,724,725,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,815,818,819,820,821,822,823,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2019 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')

In [18]:
df2021 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')
df2021_subset_4PE = df2021[["GEO_ID", "NAME", "DP03_0004PE"]]
# df2021_subset_4PE['DP03_0004PE'].unique()

/var/folders/kz/rr819sgd4yj_n1n5s69ws5340000gn/T/ipykernel_63429/708625177.py:1: DtypeWarning: Columns (194,195,196,197,362,363,364,365,366,367,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,498,499,500,501,506,507,508,509,510,511,512,513,514,515,516,517,522,523,524,525,526,527,528,529,530,531,532,533,538,539,540,541,542,543,544,545,546,547,548,549,554,555,556,557,558,559,560,561,570,571,572,573,574,575,576,577,586,587,588,589,590,591,592,593,594,595,596,597,598,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,690,691,692,693,698,699,700,701,706,707,708,709,710,713,714,715,716,717,722,723,724,725,730,731,732,733,738,739,740,741,746,747,748,749,754,755,756,757,758,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,802,803,804,805,806,807,808,809,810,811,812,813,814,815,818,819,820,821,822,823,826,827,828,829,830,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,950,951,952,953,958,959,960,961,966,967,968,969,974,975,976,977,982,983,984,985,990,991,992,993,998,999,1000,1001,1006,1007,1008,1009,1022,1023,1024,1025,1030,1031,1032,1033,1038,1039,1040,1041,1046,1047,1048,1049,1054,1055,1056,1057,1062,1063,1064,1065,1070,1071,1072,1073,1078,1079,1080,1081,1086,1087,1088,1089,1094,1095,1096,1097) have mixed types. Specify dtype option on import or set low_memory=False.
  df2021 = pd.read_csv('/Users/christy/Desktop/dataset/2014.csv')

# Get all the Dataframes

In [19]:
dataframe_array = [df2010_subset_4PE, df2011_subset_4PE, df2012_subset_4PE, df2013_subset_4PE, df2014_subset_4PE, 
                   df2015_subset_4PE, df2016_subset_4PE, df2017_subset_4PE, df2018_subset_4PE, df2019_subset_4PE,
                  df2021_subset_4PE]

In [20]:
for frame in dataframe_array:
    print(frame)

             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
814  0500000US72113          Ponce Municipio, Puerto Rico
815  0500000US72127       San Juan Municipio, Puerto Rico
816  0500000US72135       Toa Alta Municipio, Puerto Rico
817  0500000US72137       Toa Baja Municipio, Puerto Rico
818  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!In labor force!!Ci...
1                                                 52.9
2                                                 45.1
3                                                 48.0
4                                                 51.4
..                                                 ...
814                                               35.5
815                                               46.1
816                                               46.5
817                                               49.1
818                                               47.5

[819 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US12119                Sumter County, Florida
2    0500000US12127               Volusia County, Florida
3    0500000US13013                Barrow County, Georgia
4    0500000US13015                Bartow County, Georgia
..              ...                                   ...
818  0500000US72135       Toa Alta Municipio, Puerto Rico
819  0500000US72137       Toa Baja Municipio, Puerto Rico
820  0500000US72139  Trujillo Alto Municipio, Puerto Rico
821  0500000US72021        BayamÃ³n Municipio, Puerto Rico
822  0500000US72097       MayagÃ¼ez Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!In labor force!!Ci...
1                                                 45.3
2                                                 45.3
3                                                 59.9
4                                                 53.3
..                                                 ...
818                                               48.2
819                                               41.9
820                                               49.4
821                                               40.9
822                                               28.0

[823 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
821  0500000US72113          Ponce Municipio, Puerto Rico
822  0500000US72127       San Juan Municipio, Puerto Rico
823  0500000US72135       Toa Alta Municipio, Puerto Rico
824  0500000US72137       Toa Baja Municipio, Puerto Rico
825  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!In labor force!!Ci...
1                                                 54.9
2                                                 49.4
3                                                 54.7
4                                                 48.9
..                                                 ...
821                                               34.2
822                                               45.0
823                                               45.6
824                                               46.9
825                                               46.1

[826 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
824  0500000US72113          Ponce Municipio, Puerto Rico
825  0500000US72127       San Juan Municipio, Puerto Rico
826  0500000US72135       Toa Alta Municipio, Puerto Rico
827  0500000US72137       Toa Baja Municipio, Puerto Rico
828  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!Population 16 year...
1                                                 54.4
2                                                 47.0
3                                                 49.9
4                                                 49.5
..                                                 ...
824                                               33.0
825                                               43.3
826                                               42.8
827                                               43.6
828                                               48.0

[829 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
824  0500000US72113          Ponce Municipio, Puerto Rico
825  0500000US72127       San Juan Municipio, Puerto Rico
826  0500000US72135       Toa Alta Municipio, Puerto Rico
827  0500000US72137       Toa Baja Municipio, Puerto Rico
828  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!Population 16 year...
1                                                 54.5
2                                                 51.7
3                                                 47.4
4                                                 48.6
..                                                 ...
824                                               31.5
825                                               43.4
826                                               44.1
827                                               45.4
828                                               48.8

[829 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
824  0500000US72113          Ponce Municipio, Puerto Rico
825  0500000US72127       San Juan Municipio, Puerto Rico
826  0500000US72135       Toa Alta Municipio, Puerto Rico
827  0500000US72137       Toa Baja Municipio, Puerto Rico
828  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!Population 16 year...
1                                                 54.5
2                                                 51.7
3                                                 47.4
4                                                 48.6
..                                                 ...
824                                               31.5
825                                               43.4
826                                               44.1
827                                               45.4
828                                               48.8

[829 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
824  0500000US72113          Ponce Municipio, Puerto Rico
825  0500000US72127       San Juan Municipio, Puerto Rico
826  0500000US72135       Toa Alta Municipio, Puerto Rico
827  0500000US72137       Toa Baja Municipio, Puerto Rico
828  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!Population 16 year...
1                                                 54.5
2                                                 51.7
3                                                 47.4
4                                                 48.6
..                                                 ...
824                                               31.5
825                                               43.4
826                                               44.1
827                                               45.4
828                                               48.8

[829 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
824  0500000US72113          Ponce Municipio, Puerto Rico
825  0500000US72127       San Juan Municipio, Puerto Rico
826  0500000US72135       Toa Alta Municipio, Puerto Rico
827  0500000US72137       Toa Baja Municipio, Puerto Rico
828  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!Population 16 year...
1                                                 54.5
2                                                 51.7
3                                                 47.4
4                                                 48.6
..                                                 ...
824                                               31.5
825                                               43.4
826                                               44.1
827                                               45.4
828                                               48.8

[829 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
824  0500000US72113          Ponce Municipio, Puerto Rico
825  0500000US72127       San Juan Municipio, Puerto Rico
826  0500000US72135       Toa Alta Municipio, Puerto Rico
827  0500000US72137       Toa Baja Municipio, Puerto Rico
828  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!Population 16 year...
1                                                 54.5
2                                                 51.7
3                                                 47.4
4                                                 48.6
..                                                 ...
824                                               31.5
825                                               43.4
826                                               44.1
827                                               45.4
828                                               48.8

[829 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
824  0500000US72113          Ponce Municipio, Puerto Rico
825  0500000US72127       San Juan Municipio, Puerto Rico
826  0500000US72135       Toa Alta Municipio, Puerto Rico
827  0500000US72137       Toa Baja Municipio, Puerto Rico
828  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!Population 16 year...
1                                                 54.5
2                                                 51.7
3                                                 47.4
4                                                 48.6
..                                                 ...
824                                               31.5
825                                               43.4
826                                               44.1
827                                               45.4
828                                               48.8

[829 rows x 3 columns]
             GEO_ID                                  NAME  \
0         Geography                  Geographic Area Name
1    0500000US01003               Baldwin County, Alabama
2    0500000US01015               Calhoun County, Alabama
3    0500000US01043               Cullman County, Alabama
4    0500000US01049                DeKalb County, Alabama
..              ...                                   ...
824  0500000US72113          Ponce Municipio, Puerto Rico
825  0500000US72127       San Juan Municipio, Puerto Rico
826  0500000US72135       Toa Alta Municipio, Puerto Rico
827  0500000US72137       Toa Baja Municipio, Puerto Rico
828  0500000US72139  Trujillo Alto Municipio, Puerto Rico

                                           DP03_0004PE
0    Percent!!EMPLOYMENT STATUS!!Population 16 year...
1                                                 54.5
2                                                 51.7
3                                                 47.4
4                                                 48.6
..                                                 ...
824                                               31.5
825                                               43.4
826                                               44.1
827                                               45.4
828                                               48.8

[829 rows x 3 columns]

# Step1: #Drop the first row and first column

In [21]:
new_frame_array = []
for frame in dataframe_array:
    frame = frame.iloc[1: , :]
    frame =  frame.iloc[: , 1:]
    new_frame_array.append(frame)

for frame in  new_frame_array:
    print(frame)

                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        52.9
2                 Calhoun County, Alabama        45.1
3                 Cullman County, Alabama        48.0
4                  DeKalb County, Alabama        51.4
5                  Elmore County, Alabama        55.1
..                                    ...         ...
814          Ponce Municipio, Puerto Rico        35.5
815       San Juan Municipio, Puerto Rico        46.1
816       Toa Alta Municipio, Puerto Rico        46.5
817       Toa Baja Municipio, Puerto Rico        49.1
818  Trujillo Alto Municipio, Puerto Rico        47.5

[818 rows x 2 columns]
                                     NAME DP03_0004PE
1                  Sumter County, Florida        45.3
2                 Volusia County, Florida        45.3
3                  Barrow County, Georgia        59.9
4                  Bartow County, Georgia        53.3
5                    Bibb County, Georgia        50.4
..                                    ...         ...
818       Toa Alta Municipio, Puerto Rico        48.2
819       Toa Baja Municipio, Puerto Rico        41.9
820  Trujillo Alto Municipio, Puerto Rico        49.4
821        BayamÃ³n Municipio, Puerto Rico        40.9
822       MayagÃ¼ez Municipio, Puerto Rico        28.0

[822 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.9
2                 Calhoun County, Alabama        49.4
3                 Cullman County, Alabama        54.7
4                  DeKalb County, Alabama        48.9
5                  Elmore County, Alabama        58.4
..                                    ...         ...
821          Ponce Municipio, Puerto Rico        34.2
822       San Juan Municipio, Puerto Rico        45.0
823       Toa Alta Municipio, Puerto Rico        45.6
824       Toa Baja Municipio, Puerto Rico        46.9
825  Trujillo Alto Municipio, Puerto Rico        46.1

[825 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.4
2                 Calhoun County, Alabama        47.0
3                 Cullman County, Alabama        49.9
4                  DeKalb County, Alabama        49.5
5                  Elmore County, Alabama        49.8
..                                    ...         ...
824          Ponce Municipio, Puerto Rico        33.0
825       San Juan Municipio, Puerto Rico        43.3
826       Toa Alta Municipio, Puerto Rico        42.8
827       Toa Baja Municipio, Puerto Rico        43.6
828  Trujillo Alto Municipio, Puerto Rico        48.0

[828 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.5
2                 Calhoun County, Alabama        51.7
3                 Cullman County, Alabama        47.4
4                  DeKalb County, Alabama        48.6
5                  Elmore County, Alabama        49.0
..                                    ...         ...
824          Ponce Municipio, Puerto Rico        31.5
825       San Juan Municipio, Puerto Rico        43.4
826       Toa Alta Municipio, Puerto Rico        44.1
827       Toa Baja Municipio, Puerto Rico        45.4
828  Trujillo Alto Municipio, Puerto Rico        48.8

[828 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.5
2                 Calhoun County, Alabama        51.7
3                 Cullman County, Alabama        47.4
4                  DeKalb County, Alabama        48.6
5                  Elmore County, Alabama        49.0
..                                    ...         ...
824          Ponce Municipio, Puerto Rico        31.5
825       San Juan Municipio, Puerto Rico        43.4
826       Toa Alta Municipio, Puerto Rico        44.1
827       Toa Baja Municipio, Puerto Rico        45.4
828  Trujillo Alto Municipio, Puerto Rico        48.8

[828 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.5
2                 Calhoun County, Alabama        51.7
3                 Cullman County, Alabama        47.4
4                  DeKalb County, Alabama        48.6
5                  Elmore County, Alabama        49.0
..                                    ...         ...
824          Ponce Municipio, Puerto Rico        31.5
825       San Juan Municipio, Puerto Rico        43.4
826       Toa Alta Municipio, Puerto Rico        44.1
827       Toa Baja Municipio, Puerto Rico        45.4
828  Trujillo Alto Municipio, Puerto Rico        48.8

[828 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.5
2                 Calhoun County, Alabama        51.7
3                 Cullman County, Alabama        47.4
4                  DeKalb County, Alabama        48.6
5                  Elmore County, Alabama        49.0
..                                    ...         ...
824          Ponce Municipio, Puerto Rico        31.5
825       San Juan Municipio, Puerto Rico        43.4
826       Toa Alta Municipio, Puerto Rico        44.1
827       Toa Baja Municipio, Puerto Rico        45.4
828  Trujillo Alto Municipio, Puerto Rico        48.8

[828 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.5
2                 Calhoun County, Alabama        51.7
3                 Cullman County, Alabama        47.4
4                  DeKalb County, Alabama        48.6
5                  Elmore County, Alabama        49.0
..                                    ...         ...
824          Ponce Municipio, Puerto Rico        31.5
825       San Juan Municipio, Puerto Rico        43.4
826       Toa Alta Municipio, Puerto Rico        44.1
827       Toa Baja Municipio, Puerto Rico        45.4
828  Trujillo Alto Municipio, Puerto Rico        48.8

[828 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.5
2                 Calhoun County, Alabama        51.7
3                 Cullman County, Alabama        47.4
4                  DeKalb County, Alabama        48.6
5                  Elmore County, Alabama        49.0
..                                    ...         ...
824          Ponce Municipio, Puerto Rico        31.5
825       San Juan Municipio, Puerto Rico        43.4
826       Toa Alta Municipio, Puerto Rico        44.1
827       Toa Baja Municipio, Puerto Rico        45.4
828  Trujillo Alto Municipio, Puerto Rico        48.8

[828 rows x 2 columns]
                                     NAME DP03_0004PE
1                 Baldwin County, Alabama        54.5
2                 Calhoun County, Alabama        51.7
3                 Cullman County, Alabama        47.4
4                  DeKalb County, Alabama        48.6
5                  Elmore County, Alabama        49.0
..                                    ...         ...
824          Ponce Municipio, Puerto Rico        31.5
825       San Juan Municipio, Puerto Rico        43.4
826       Toa Alta Municipio, Puerto Rico        44.1
827       Toa Baja Municipio, Puerto Rico        45.4
828  Trujillo Alto Municipio, Puerto Rico        48.8

[828 rows x 2 columns]

# Step 2: get the substring of the state

In [22]:
new_frame_array1 = []
for frame in  new_frame_array:
    state = []
    for name in frame['NAME']:
        start = name.find(',')+2
        name = name[start:]
        state.append(name)
        
    frame['STATE'] = state
    df_state=frame[["STATE", "DP03_0004PE"]]
    new_frame_array1.append(df_state)

        
# for frame in new_frame_array1:
#     print(frame)

In [23]:
df_2011 = new_frame_array1[0]
print(df_2011)

           STATE DP03_0004PE
1        Alabama        52.9
2        Alabama        45.1
3        Alabama        48.0
4        Alabama        51.4
5        Alabama        55.1
..           ...         ...
814  Puerto Rico        35.5
815  Puerto Rico        46.1
816  Puerto Rico        46.5
817  Puerto Rico        49.1
818  Puerto Rico        47.5

[818 rows x 2 columns]

# Step3: convert to proper data types

In [24]:
df_converted = []

In [25]:
for frame in new_frame_array1:
    frame = frame.astype(dtype={'STATE': 'string'})
    frame['DP03_0004PE'].replace(to_replace ="N", value = 50, inplace = True)
    frame = frame.astype(dtype={'DP03_0004PE': 'float'})
    df_converted.append(frame)

for f in df_converted:
    print(f.dtypes)

STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object
STATE           string
DP03_0004PE    float64
dtype: object

# Step4: get the average of all the states

In [26]:
states = new_frame_array1[0]['STATE'].unique()
print(states)

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' 'Puerto Rico']

In [27]:
mean_of_2011_2021 = []
for frame in df_converted:
    mean = []
    for state in states:
        fil = frame["STATE"] == state
        select = frame[fil]
        select_mean = select['DP03_0004PE'].mean()
        mean.append(select_mean)
    mean_of_2011_2021.append(mean)

for m in mean_of_2011_2021:
    print(m)

[52.80000000000001, 61.0, 46.94000000000001, 56.45454545454545, 53.40500000000001, 61.46363636363637, 61.162499999999994, 55.03333333333333, 58.0, 49.19999999999999, 55.791176470588226, 58.025, 58.36666666666665, 59.0304347826087, 57.16400000000001, 65.77000000000001, 60.6125, 54.96923076923077, 56.95294117647059, 59.03333333333334, 62.21875, 59.46666666666667, 54.648275862068964, 66.94166666666666, 54.95, 59.7235294117647, 60.919999999999995, 68.03333333333335, 57.55, 63.70000000000001, 58.91428571428572, 53.199999999999996, 56.65641025641027, 53.64358974358974, 69.23333333333333, 56.10789473684209, 58.51818181818181, 53.64, 56.1475, 59.525, 52.63333333333333, 65.4, 55.919999999999995, 57.542307692307695, 61.38333333333333, 67.1, 60.483333333333334, 54.073684210526324, 52.64285714285715, 63.439130434782605, 63.349999999999994, 42.92727272727273]
[52.70476190476192, 60.96666666666666, 45.93, 56.54545454545455, 53.437500000000014, 62.2, 61.075, 56.300000000000004, 59.4, 49.745000000000005, 55.57714285714286, 57.85, 58.166666666666664, 59.0521739130435, 57.55599999999998, 63.11999999999999, 60.775, 56.75384615384615, 56.95882352941176, 58.66666666666668, 61.7125, 60.224999999999994, 54.475862068965505, 67.35000000000001, 56.71999999999999, 60.076470588235296, 61.9, 67.33333333333333, 57.95, 62.91666666666666, 58.86666666666667, 52.370000000000005, 56.62820512820514, 53.54102564102565, 70.6, 56.41052631578947, 56.76363636363636, 52.52, 56.065, 60.575, 52.652380952380945, 65.7, 56.46, 57.25660377358489, 61.53333333333333, 66.3, 60.61, 54.084210526315786, 51.92857142857144, 63.51304347826087, 63.650000000000006, 41.73636363636363]
[53.42857142857143, 61.0, 46.33, 57.436363636363645, 54.032500000000006, 62.645454545454534, 61.637499999999996, 56.699999999999996, 61.3, 49.6775, 55.7388888888889, 58.4, 59.650000000000006, 59.95217391304348, 58.352, 65.4, 60.575, 56.98461538461539, 57.40588235294117, 58.95000000000001, 61.9875, 60.10833333333333, 55.199999999999996, 67.99230769230769, 55.760000000000005, 60.464705882352916, 61.46, 67.93333333333334, 58.0, 63.36666666666667, 59.171428571428564, 52.15, 56.53589743589744, 53.745000000000005, 70.3, 56.800000000000004, 57.309090909090905, 53.006666666666675, 56.57249999999999, 60.400000000000006, 52.538095238095245, 67.44999999999999, 56.69500000000001, 57.098113207547165, 62.666666666666664, 67.2, 60.76333333333335, 54.636842105263156, 53.18571428571429, 63.64782608695651, 63.5, 42.21818181818182]
[52.590476190476195, 60.666666666666664, 46.35000000000001, 56.70909090909092, 53.917500000000004, 62.154545454545456, 61.37499999999999, 56.333333333333336, 61.1, 49.36749999999999, 55.96388888888888, 58.7, 58.916666666666664, 59.82608695652173, 58.383999999999986, 63.86, 60.18749999999999, 57.66153846153847, 56.95882352941176, 58.93333333333333, 62.44375, 60.800000000000004, 55.98620689655173, 68.93571428571428, 56.2, 61.029411764705884, 62.51666666666667, 68.43333333333334, 58.7, 63.916666666666664, 59.25714285714286, 52.220000000000006, 56.91538461538461, 53.867499999999986, 69.525, 57.03421052631578, 57.38181818181818, 53.46, 56.83749999999999, 60.025, 53.95714285714288, 68.1, 56.94500000000001, 57.67169811320757, 62.35, 66.1, 60.91666666666666, 54.768421052631574, 53.58571428571429, 63.760869565217384, 63.9, 41.1]
[53.16190476190476, 60.5, 46.019999999999996, 56.7, 54.65250000000001, 63.445454545454545, 62.4125, 57.43333333333333, 62.3, 49.93249999999999, 56.266666666666666, 58.824999999999996, 59.099999999999994, 60.213043478260865, 58.767999999999994, 66.78, 60.475, 56.78461538461538, 56.31176470588236, 59.26666666666666, 61.668749999999996, 61.625, 56.4896551724138, 68.22857142857143, 56.260000000000005, 60.89411764705883, 62.79999999999999, 69.16666666666667, 58.650000000000006, 64.05, 60.39047619047619, 52.13000000000001, 57.10256410256409, 54.469999999999985, 68.65, 57.550000000000004, 57.92727272727272, 53.580000000000005, 56.86, 60.125, 54.12380952380952, 69.1, 57.56, 58.09622641509432, 62.56666666666666, 66.4, 61.306666666666665, 55.40526315789474, 52.699999999999996, 64.68695652173913, 65.3, 41.77272727272727]
[53.16190476190476, 60.5, 46.019999999999996, 56.7, 54.65250000000001, 63.445454545454545, 62.4125, 57.43333333333333, 62.3, 49.93249999999999, 56.266666666666666, 58.824999999999996, 59.099999999999994, 60.213043478260865, 58.767999999999994, 66.78, 60.475, 56.78461538461538, 56.31176470588236, 59.26666666666666, 61.668749999999996, 61.625, 56.4896551724138, 68.22857142857143, 56.260000000000005, 60.89411764705883, 62.79999999999999, 69.16666666666667, 58.650000000000006, 64.05, 60.39047619047619, 52.13000000000001, 57.10256410256409, 54.469999999999985, 68.65, 57.550000000000004, 57.92727272727272, 53.580000000000005, 56.86, 60.125, 54.12380952380952, 69.1, 57.56, 58.09622641509432, 62.56666666666666, 66.4, 61.306666666666665, 55.40526315789474, 52.699999999999996, 64.68695652173913, 65.3, 41.77272727272727]
[53.16190476190476, 60.5, 46.019999999999996, 56.7, 54.65250000000001, 63.445454545454545, 62.4125, 57.43333333333333, 62.3, 49.93249999999999, 56.266666666666666, 58.824999999999996, 59.099999999999994, 60.213043478260865, 58.767999999999994, 66.78, 60.475, 56.78461538461538, 56.31176470588236, 59.26666666666666, 61.668749999999996, 61.625, 56.4896551724138, 68.22857142857143, 56.260000000000005, 60.89411764705883, 62.79999999999999, 69.16666666666667, 58.650000000000006, 64.05, 60.39047619047619, 52.13000000000001, 57.10256410256409, 54.469999999999985, 68.65, 57.550000000000004, 57.92727272727272, 53.580000000000005, 56.86, 60.125, 54.12380952380952, 69.1, 57.56, 58.09622641509432, 62.56666666666666, 66.4, 61.306666666666665, 55.40526315789474, 52.699999999999996, 64.68695652173913, 65.3, 41.77272727272727]
[53.16190476190476, 60.5, 46.019999999999996, 56.7, 54.65250000000001, 63.445454545454545, 62.4125, 57.43333333333333, 62.3, 49.93249999999999, 56.266666666666666, 58.824999999999996, 59.099999999999994, 60.213043478260865, 58.767999999999994, 66.78, 60.475, 56.78461538461538, 56.31176470588236, 59.26666666666666, 61.668749999999996, 61.625, 56.4896551724138, 68.22857142857143, 56.260000000000005, 60.89411764705883, 62.79999999999999, 69.16666666666667, 58.650000000000006, 64.05, 60.39047619047619, 52.13000000000001, 57.10256410256409, 54.469999999999985, 68.65, 57.550000000000004, 57.92727272727272, 53.580000000000005, 56.86, 60.125, 54.12380952380952, 69.1, 57.56, 58.09622641509432, 62.56666666666666, 66.4, 61.306666666666665, 55.40526315789474, 52.699999999999996, 64.68695652173913, 65.3, 41.77272727272727]
[53.16190476190476, 60.5, 46.019999999999996, 56.7, 54.65250000000001, 63.445454545454545, 62.4125, 57.43333333333333, 62.3, 49.93249999999999, 56.266666666666666, 58.824999999999996, 59.099999999999994, 60.213043478260865, 58.767999999999994, 66.78, 60.475, 56.78461538461538, 56.31176470588236, 59.26666666666666, 61.668749999999996, 61.625, 56.4896551724138, 68.22857142857143, 56.260000000000005, 60.89411764705883, 62.79999999999999, 69.16666666666667, 58.650000000000006, 64.05, 60.39047619047619, 52.13000000000001, 57.10256410256409, 54.469999999999985, 68.65, 57.550000000000004, 57.92727272727272, 53.580000000000005, 56.86, 60.125, 54.12380952380952, 69.1, 57.56, 58.09622641509432, 62.56666666666666, 66.4, 61.306666666666665, 55.40526315789474, 52.699999999999996, 64.68695652173913, 65.3, 41.77272727272727]
[53.16190476190476, 60.5, 46.019999999999996, 56.7, 54.65250000000001, 63.445454545454545, 62.4125, 57.43333333333333, 62.3, 49.93249999999999, 56.266666666666666, 58.824999999999996, 59.099999999999994, 60.213043478260865, 58.767999999999994, 66.78, 60.475, 56.78461538461538, 56.31176470588236, 59.26666666666666, 61.668749999999996, 61.625, 56.4896551724138, 68.22857142857143, 56.260000000000005, 60.89411764705883, 62.79999999999999, 69.16666666666667, 58.650000000000006, 64.05, 60.39047619047619, 52.13000000000001, 57.10256410256409, 54.469999999999985, 68.65, 57.550000000000004, 57.92727272727272, 53.580000000000005, 56.86, 60.125, 54.12380952380952, 69.1, 57.56, 58.09622641509432, 62.56666666666666, 66.4, 61.306666666666665, 55.40526315789474, 52.699999999999996, 64.68695652173913, 65.3, 41.77272727272727]
[53.16190476190476, 60.5, 46.019999999999996, 56.7, 54.65250000000001, 63.445454545454545, 62.4125, 57.43333333333333, 62.3, 49.93249999999999, 56.266666666666666, 58.824999999999996, 59.099999999999994, 60.213043478260865, 58.767999999999994, 66.78, 60.475, 56.78461538461538, 56.31176470588236, 59.26666666666666, 61.668749999999996, 61.625, 56.4896551724138, 68.22857142857143, 56.260000000000005, 60.89411764705883, 62.79999999999999, 69.16666666666667, 58.650000000000006, 64.05, 60.39047619047619, 52.13000000000001, 57.10256410256409, 54.469999999999985, 68.65, 57.550000000000004, 57.92727272727272, 53.580000000000005, 56.86, 60.125, 54.12380952380952, 69.1, 57.56, 58.09622641509432, 62.56666666666666, 66.4, 61.306666666666665, 55.40526315789474, 52.699999999999996, 64.68695652173913, 65.3, 41.77272727272727]

# Step 4: Get the average of all the year for each individual state

In [28]:
average = []

for i in range(0, 52, 1):
    sum = 0
    for m in mean_of_2011_2021:
        sum += m[i]
    aver = sum / 11
    average.append(aver)
    
print(average)

[53.059740259740245, 60.64848484848485, 46.15363636363635, 56.73140495867769, 54.305454545454566, 62.9619834710744, 62.01250000000002, 56.945454545454545, 61.44545454545453, 49.77431818181819, 56.08525125201595, 58.613636363636374, 58.98181818181819, 59.94110671936758, 58.43927272727273, 65.96454545454543, 60.49772727272728, 56.71468531468531, 56.587165775401076, 59.131818181818176, 61.822159090909096, 61.08863636363637, 55.976175548589346, 68.07451714951713, 56.131818181818176, 60.686631016042774, 62.39969696969697, 68.71818181818182, 58.43181818181817, 63.84090909090908, 59.90389610389611, 52.25909090909091, 56.95034965034965, 54.18973776223775, 69.10984848484847, 57.200239234449754, 57.769421487603296, 53.42606060606061, 56.69477272727273, 60.127272727272725, 53.6952380952381, 68.21363636363638, 57.17636363636362, 57.84020979020976, 62.354545454545445, 66.49999999999999, 61.08363636363635, 55.036363636363646, 52.749350649350646, 64.28814229249012, 64.68181818181817, 41.853719008264456]

In [29]:
average_data ={"state": states,
       "average": average}
final = pd.DataFrame(average_data)
print(final)

                   state    average
0                Alabama  53.059740
1                 Alaska  60.648485
2                Arizona  46.153636
3               Arkansas  56.731405
4             California  54.305455
5               Colorado  62.961983
6            Connecticut  62.012500
7               Delaware  56.945455
8   District of Columbia  61.445455
9                Florida  49.774318
10               Georgia  56.085251
11                Hawaii  58.613636
12                 Idaho  58.981818
13              Illinois  59.941107
14               Indiana  58.439273
15                  Iowa  65.964545
16                Kansas  60.497727
17              Kentucky  56.714685
18             Louisiana  56.587166
19                 Maine  59.131818
20              Maryland  61.822159
21         Massachusetts  61.088636
22              Michigan  55.976176
23             Minnesota  68.074517
24           Mississippi  56.131818
25              Missouri  60.686631
26               Montana  62.399697
27              Nebraska  68.718182
28                Nevada  58.431818
29         New Hampshire  63.840909
30            New Jersey  59.903896
31            New Mexico  52.259091
32              New York  56.950350
33        North Carolina  54.189738
34          North Dakota  69.109848
35                  Ohio  57.200239
36              Oklahoma  57.769421
37                Oregon  53.426061
38          Pennsylvania  56.694773
39          Rhode Island  60.127273
40        South Carolina  53.695238
41          South Dakota  68.213636
42             Tennessee  57.176364
43                 Texas  57.840210
44                  Utah  62.354545
45               Vermont  66.500000
46              Virginia  61.083636
47            Washington  55.036364
48         West Virginia  52.749351
49             Wisconsin  64.288142
50               Wyoming  64.681818
51           Puerto Rico  41.853719

In [30]:
final.to_csv(index=False)
compression_opts = dict(method='zip',
                        archive_name='out.csv')  
final.to_csv('out.zip', index=False,
          compression=compression_opts)  

from pathlib import Path  
filepath = Path('/Users/christy/Desktop/out.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
final.to_csv(filepath)

import os  
os.makedirs('folder/subfolder', exist_ok=True)  
final.to_csv('/Users/christy/Desktop/out.csv')