In [1]:
import pandas as pd

In [3]:
state_migration = pd.read_csv("../data/state_migration.csv")
state_migration

      Unnamed: 0 o_state_name   d_state_name       n
0              0      Alabama        Alabama  399099
1              1      Alabama         Alaska     418
2              2      Alabama        Arizona     949
3              3      Alabama       Arkansas     913
4              4      Alabama     California    4154
...          ...          ...            ...     ...
2596        2596      Wyoming       Virginia     189
2597        2597      Wyoming     Washington    1138
2598        2598      Wyoming  West Virginia      33
2599        2599      Wyoming      Wisconsin     186
2600        2600      Wyoming        Wyoming   41806

[2601 rows x 4 columns]

Group by origin state
calculate the sum of n

In [6]:
o_state_groups = state_migration.groupby("o_state_name")

In [7]:
o_state_groups.get_group("Alabama")

    Unnamed: 0 o_state_name    d_state_name       n
0            0      Alabama         Alabama  399099
1            1      Alabama          Alaska     418
2            2      Alabama         Arizona     949
3            3      Alabama        Arkansas     913
4            4      Alabama      California    4154
5            5      Alabama        Colorado    2113
6            6      Alabama     Connecticut     307
7            7      Alabama              DC    1875
8            8      Alabama        Delaware     143
9            9      Alabama         Florida   11129
10          10      Alabama         Georgia   18778
11          11      Alabama          Hawaii     548
12          12      Alabama           Idaho     146
13          13      Alabama        Illinois    1574
14          14      Alabama         Indiana    1157
15          15      Alabama            Iowa     271
16          16      Alabama          Kansas     504
17          17      Alabama        Kentucky    1362
18          18      Alabama       Louisiana    3105
19          19      Alabama           Maine     106
20          20      Alabama        Maryland     532
21          21      Alabama   Massachusetts     660
22          22      Alabama        Michigan    1171
23          23      Alabama       Minnesota     389
24          24      Alabama     Mississippi    5120
25          25      Alabama        Missouri    1365
26          26      Alabama         Montana     180
27          27      Alabama        Nebraska     267
28          28      Alabama          Nevada     559
29          29      Alabama   New Hampshire      95
30          30      Alabama      New Jersey     300
31          31      Alabama      New Mexico     322
32          32      Alabama        New York    2396
33          33      Alabama  North Carolina    3848
34          34      Alabama    North Dakota     194
35          35      Alabama            Ohio    1965
36          36      Alabama        Oklahoma     853
37          37      Alabama          Oregon     530
38          38      Alabama    Pennsylvania    1107
39          39      Alabama    Rhode Island      96
40          40      Alabama  South Carolina    1680
41          41      Alabama    South Dakota      91
42          42      Alabama       Tennessee   11394
43          43      Alabama           Texas    7720
44          44      Alabama            Utah     443
45          45      Alabama         Vermont      54
46          46      Alabama        Virginia    2041
47          47      Alabama      Washington    1371
48          48      Alabama   West Virginia     152
49          49      Alabama       Wisconsin     458
50          50      Alabama         Wyoming     172

In [10]:
filtered_data = o_state_groups.get_group("Alabama")
filtered_data["%_of_total"] = (filtered_data["n"] / filtered_data["n"].sum()) * 100
filtered_data

/var/folders/91/27xg0jcj2dq9rv01tz61gk9r0000gq/T/ipykernel_16381/327804807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data["%_of_total"] = (filtered_data["n"] / filtered_data["n"].sum()) * 100

    Unnamed: 0 o_state_name    d_state_name       n  %_of_total
0            0      Alabama         Alabama  399099   80.434967
1            1      Alabama          Alaska     418    0.084244
2            2      Alabama         Arizona     949    0.191263
3            3      Alabama        Arkansas     913    0.184007
4            4      Alabama      California    4154    0.837203
5            5      Alabama        Colorado    2113    0.425857
6            6      Alabama     Connecticut     307    0.061873
7            7      Alabama              DC    1875    0.377890
8            8      Alabama        Delaware     143    0.028820
9            9      Alabama         Florida   11129    2.242954
10          10      Alabama         Georgia   18778    3.784544
11          11      Alabama          Hawaii     548    0.110445
12          12      Alabama           Idaho     146    0.029425
13          13      Alabama        Illinois    1574    0.317226
14          14      Alabama         Indiana    1157    0.233183
15          15      Alabama            Iowa     271    0.054618
16          16      Alabama          Kansas     504    0.101577
17          17      Alabama        Kentucky    1362    0.274499
18          18      Alabama       Louisiana    3105    0.625786
19          19      Alabama           Maine     106    0.021363
20          20      Alabama        Maryland     532    0.107220
21          21      Alabama   Massachusetts     660    0.133017
22          22      Alabama        Michigan    1171    0.236005
23          23      Alabama       Minnesota     389    0.078400
24          24      Alabama     Mississippi    5120    1.031892
25          25      Alabama        Missouri    1365    0.275104
26          26      Alabama         Montana     180    0.036277
27          27      Alabama        Nebraska     267    0.053812
28          28      Alabama          Nevada     559    0.112662
29          29      Alabama   New Hampshire      95    0.019146
30          30      Alabama      New Jersey     300    0.060462
31          31      Alabama      New Mexico     322    0.064896
32          32      Alabama        New York    2396    0.482893
33          33      Alabama  North Carolina    3848    0.775531
34          34      Alabama    North Dakota     194    0.039099
35          35      Alabama            Ohio    1965    0.396029
36          36      Alabama        Oklahoma     853    0.171915
37          37      Alabama          Oregon     530    0.106817
38          38      Alabama    Pennsylvania    1107    0.223106
39          39      Alabama    Rhode Island      96    0.019348
40          40      Alabama  South Carolina    1680    0.338590
41          41      Alabama    South Dakota      91    0.018340
42          42      Alabama       Tennessee   11394    2.296363
43          43      Alabama           Texas    7720    1.555900
44          44      Alabama            Utah     443    0.089283
45          45      Alabama         Vermont      54    0.010883
46          46      Alabama        Virginia    2041    0.411346
47          47      Alabama      Washington    1371    0.276313
48          48      Alabama   West Virginia     152    0.030634
49          49      Alabama       Wisconsin     458    0.092306
50          50      Alabama         Wyoming     172    0.034665