In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
%matplotlib inline
#get the subset from each cleaned dataset
df2018 = pd.read_csv('data/Education_By_CZ_2018.csv')
df2018_subset = df2018[["Label", "Educational ratio"]]
df2018_subset

                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.214047
1                 Calhoun County, Alabama           0.238127
2                 Cullman County, Alabama           0.219665
3                  DeKalb County, Alabama           0.222105
4                  Elmore County, Alabama           0.229040
..                                    ...                ...
833          Ponce Municipio, Puerto Rico           0.253133
834       San Juan Municipio, Puerto Rico           0.248833
835       Toa Alta Municipio, Puerto Rico           0.248337
836       Toa Baja Municipio, Puerto Rico           0.236435
837  Trujillo Alto Municipio, Puerto Rico           0.255057

[838 rows x 2 columns]

In [4]:
df2017 = pd.read_csv('data/Education_By_CZ_2017.csv')
df2017_subset = df2017[["Label", "Educational ratio"]]
df2017_subset

                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.223447
1                 Calhoun County, Alabama           0.240721
2                 Cullman County, Alabama           0.207591
3                  DeKalb County, Alabama           0.256729
4                  Elmore County, Alabama           0.240238
..                                    ...                ...
832          Ponce Municipio, Puerto Rico           0.252326
833       San Juan Municipio, Puerto Rico           0.247552
834       Toa Alta Municipio, Puerto Rico           0.257199
835       Toa Baja Municipio, Puerto Rico           0.257354
836  Trujillo Alto Municipio, Puerto Rico           0.267342

[837 rows x 2 columns]

In [5]:
df2016 = pd.read_csv('data/Education_By_CZ_2016.csv')
df2016_subset = df2016[["Label", "Educational ratio"]]
df2016_subset

                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.229460
1                 Calhoun County, Alabama           0.250977
2                 Cullman County, Alabama           0.204984
3                  DeKalb County, Alabama           0.243522
4                  Elmore County, Alabama           0.240096
..                                    ...                ...
826          Ponce Municipio, Puerto Rico           0.253628
827       San Juan Municipio, Puerto Rico           0.256823
828       Toa Alta Municipio, Puerto Rico           0.255225
829       Toa Baja Municipio, Puerto Rico           0.236539
830  Trujillo Alto Municipio, Puerto Rico           0.271909

[831 rows x 2 columns]

In [6]:
df2015 = pd.read_csv('data/Education_By_CZ_2015.csv')
df2015_subset = df2015[["Label", "Educational ratio"]]
df2015_subset

                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.225519
1                 Calhoun County, Alabama           0.250177
2                 Cullman County, Alabama           0.208094
3                  DeKalb County, Alabama           0.230655
4                  Elmore County, Alabama           0.237581
..                                    ...                ...
825          Ponce Municipio, Puerto Rico           0.269622
826       San Juan Municipio, Puerto Rico           0.270217
827       Toa Alta Municipio, Puerto Rico           0.313095
828       Toa Baja Municipio, Puerto Rico           0.280635
829  Trujillo Alto Municipio, Puerto Rico           0.283238

[830 rows x 2 columns]

In [7]:
df2014 = pd.read_csv('data/Education_By_CZ_2014.csv')
df2014_subset = df2014[["Label", "Educational ratio"]]
df2014_subset

                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.236516
1                 Calhoun County, Alabama           0.255358
2                 Cullman County, Alabama           0.221696
3                  DeKalb County, Alabama           0.225248
4                  Elmore County, Alabama           0.254087
..                                    ...                ...
823          Ponce Municipio, Puerto Rico           0.285650
824       San Juan Municipio, Puerto Rico           0.267711
825       Toa Alta Municipio, Puerto Rico           0.287900
826       Toa Baja Municipio, Puerto Rico           0.263159
827  Trujillo Alto Municipio, Puerto Rico           0.283010

[828 rows x 2 columns]

In [8]:
df2013 = pd.read_csv('data/Education_By_CZ_2013.csv')
df2013_subset = df2013[["Label", "Educational ratio"]]
df2013_subset

                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.222750
1                 Calhoun County, Alabama           0.260081
2                 Cullman County, Alabama           0.224430
3                  DeKalb County, Alabama           0.240608
4                  Elmore County, Alabama           0.258926
..                                    ...                ...
823          Ponce Municipio, Puerto Rico           0.279867
824       San Juan Municipio, Puerto Rico           0.266319
825       Toa Alta Municipio, Puerto Rico           0.288659
826       Toa Baja Municipio, Puerto Rico           0.273091
827  Trujillo Alto Municipio, Puerto Rico           0.267333

[828 rows x 2 columns]

In [9]:
#Get all the Dataframes
dataframe_array = [df2013_subset, df2014_subset, df2015_subset, df2016_subset, df2017_subset, 
                   df2018_subset]

In [10]:
for frame in dataframe_array:
    print(frame)

                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.222750
1                 Calhoun County, Alabama           0.260081
2                 Cullman County, Alabama           0.224430
3                  DeKalb County, Alabama           0.240608
4                  Elmore County, Alabama           0.258926
..                                    ...                ...
823          Ponce Municipio, Puerto Rico           0.279867
824       San Juan Municipio, Puerto Rico           0.266319
825       Toa Alta Municipio, Puerto Rico           0.288659
826       Toa Baja Municipio, Puerto Rico           0.273091
827  Trujillo Alto Municipio, Puerto Rico           0.267333

[828 rows x 2 columns]
                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.236516
1                 Calhoun County, Alabama           0.255358
2                 Cullman County, Alabama           0.221696
3                  DeKalb County, Alabama           0.225248
4                  Elmore County, Alabama           0.254087
..                                    ...                ...
823          Ponce Municipio, Puerto Rico           0.285650
824       San Juan Municipio, Puerto Rico           0.267711
825       Toa Alta Municipio, Puerto Rico           0.287900
826       Toa Baja Municipio, Puerto Rico           0.263159
827  Trujillo Alto Municipio, Puerto Rico           0.283010

[828 rows x 2 columns]
                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.225519
1                 Calhoun County, Alabama           0.250177
2                 Cullman County, Alabama           0.208094
3                  DeKalb County, Alabama           0.230655
4                  Elmore County, Alabama           0.237581
..                                    ...                ...
825          Ponce Municipio, Puerto Rico           0.269622
826       San Juan Municipio, Puerto Rico           0.270217
827       Toa Alta Municipio, Puerto Rico           0.313095
828       Toa Baja Municipio, Puerto Rico           0.280635
829  Trujillo Alto Municipio, Puerto Rico           0.283238

[830 rows x 2 columns]
                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.229460
1                 Calhoun County, Alabama           0.250977
2                 Cullman County, Alabama           0.204984
3                  DeKalb County, Alabama           0.243522
4                  Elmore County, Alabama           0.240096
..                                    ...                ...
826          Ponce Municipio, Puerto Rico           0.253628
827       San Juan Municipio, Puerto Rico           0.256823
828       Toa Alta Municipio, Puerto Rico           0.255225
829       Toa Baja Municipio, Puerto Rico           0.236539
830  Trujillo Alto Municipio, Puerto Rico           0.271909

[831 rows x 2 columns]
                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.223447
1                 Calhoun County, Alabama           0.240721
2                 Cullman County, Alabama           0.207591
3                  DeKalb County, Alabama           0.256729
4                  Elmore County, Alabama           0.240238
..                                    ...                ...
832          Ponce Municipio, Puerto Rico           0.252326
833       San Juan Municipio, Puerto Rico           0.247552
834       Toa Alta Municipio, Puerto Rico           0.257199
835       Toa Baja Municipio, Puerto Rico           0.257354
836  Trujillo Alto Municipio, Puerto Rico           0.267342

[837 rows x 2 columns]
                                    Label  Educational ratio
0                 Baldwin County, Alabama           0.214047
1                 Calhoun County, Alabama           0.238127
2                 Cullman County, Alabama           0.219665
3                  DeKalb County, Alabama           0.222105
4                  Elmore County, Alabama           0.229040
..                                    ...                ...
833          Ponce Municipio, Puerto Rico           0.253133
834       San Juan Municipio, Puerto Rico           0.248833
835       Toa Alta Municipio, Puerto Rico           0.248337
836       Toa Baja Municipio, Puerto Rico           0.236435
837  Trujillo Alto Municipio, Puerto Rico           0.255057

[838 rows x 2 columns]

In [11]:
#Get the substring of the state
new_frame_array = []
for frame in  dataframe_array:
    state = []
    for name in frame['Label']:
        start = name.find(',')+2
        name = name[start:]
        state.append(name)
        
    frame['STATE'] = state
    df_state=frame[["STATE", "Educational ratio"]]
    new_frame_array.append(df_state)

/var/folders/jb/y1fhlj6s7216bx8xsqnjjj9m0000gn/T/ipykernel_84297/2274019246.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['STATE'] = state
/var/folders/jb/y1fhlj6s7216bx8xsqnjjj9m0000gn/T/ipykernel_84297/2274019246.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['STATE'] = state
/var/folders/jb/y1fhlj6s7216bx8xsqnjjj9m0000gn/T/ipykernel_84297/2274019246.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['STATE'] = state
/var/folders/jb/y1fhlj6s7216bx8xsqnjjj9m0000gn/T/ipykernel_84297/2274019246.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['STATE'] = state
/var/folders/jb/y1fhlj6s7216bx8xsqnjjj9m0000gn/T/ipykernel_84297/2274019246.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['STATE'] = state
/var/folders/jb/y1fhlj6s7216bx8xsqnjjj9m0000gn/T/ipykernel_84297/2274019246.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame['STATE'] = state

In [12]:
new_frame_array

[           STATE  Educational ratio
 0        Alabama           0.222750
 1        Alabama           0.260081
 2        Alabama           0.224430
 3        Alabama           0.240608
 4        Alabama           0.258926
 ..           ...                ...
 823  Puerto Rico           0.279867
 824  Puerto Rico           0.266319
 825  Puerto Rico           0.288659
 826  Puerto Rico           0.273091
 827  Puerto Rico           0.267333

 [828 rows x 2 columns],
            STATE  Educational ratio
 0        Alabama           0.236516
 1        Alabama           0.255358
 2        Alabama           0.221696
 3        Alabama           0.225248
 4        Alabama           0.254087
 ..           ...                ...
 823  Puerto Rico           0.285650
 824  Puerto Rico           0.267711
 825  Puerto Rico           0.287900
 826  Puerto Rico           0.263159
 827  Puerto Rico           0.283010

 [828 rows x 2 columns],
            STATE  Educational ratio
 0        Alabama           0.225519
 1        Alabama           0.250177
 2        Alabama           0.208094
 3        Alabama           0.230655
 4        Alabama           0.237581
 ..           ...                ...
 825  Puerto Rico           0.269622
 826  Puerto Rico           0.270217
 827  Puerto Rico           0.313095
 828  Puerto Rico           0.280635
 829  Puerto Rico           0.283238

 [830 rows x 2 columns],
            STATE  Educational ratio
 0        Alabama           0.229460
 1        Alabama           0.250977
 2        Alabama           0.204984
 3        Alabama           0.243522
 4        Alabama           0.240096
 ..           ...                ...
 826  Puerto Rico           0.253628
 827  Puerto Rico           0.256823
 828  Puerto Rico           0.255225
 829  Puerto Rico           0.236539
 830  Puerto Rico           0.271909

 [831 rows x 2 columns],
            STATE  Educational ratio
 0        Alabama           0.223447
 1        Alabama           0.240721
 2        Alabama           0.207591
 3        Alabama           0.256729
 4        Alabama           0.240238
 ..           ...                ...
 832  Puerto Rico           0.252326
 833  Puerto Rico           0.247552
 834  Puerto Rico           0.257199
 835  Puerto Rico           0.257354
 836  Puerto Rico           0.267342

 [837 rows x 2 columns],
            STATE  Educational ratio
 0        Alabama           0.214047
 1        Alabama           0.238127
 2        Alabama           0.219665
 3        Alabama           0.222105
 4        Alabama           0.229040
 ..           ...                ...
 833  Puerto Rico           0.253133
 834  Puerto Rico           0.248833
 835  Puerto Rico           0.248337
 836  Puerto Rico           0.236435
 837  Puerto Rico           0.255057

 [838 rows x 2 columns]]

In [13]:
df_2013 = new_frame_array[0]
print(df_2013)

           STATE  Educational ratio
0        Alabama           0.222750
1        Alabama           0.260081
2        Alabama           0.224430
3        Alabama           0.240608
4        Alabama           0.258926
..           ...                ...
823  Puerto Rico           0.279867
824  Puerto Rico           0.266319
825  Puerto Rico           0.288659
826  Puerto Rico           0.273091
827  Puerto Rico           0.267333

[828 rows x 2 columns]

In [14]:
df_2013.dtypes

STATE                 object
Educational ratio    float64
dtype: object

In [15]:
#Get the average of all the states
states = new_frame_array[0]['STATE'].unique()
print(states)

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' 'Puerto Rico']

In [16]:
states.shape

(52,)

In [17]:
mean_of_2013_2018 = []
for frame in new_frame_array:
    mean = []
    for state in states:
        fil = frame["STATE"] == state
        select = frame[fil]
        select_mean = select['Educational ratio'].mean()
        mean.append(select_mean)
    mean_of_2013_2018.append(mean)

for m in mean_of_2013_2018:
    print(m)

[0.2557698784451022, 0.304983507231899, 0.26996743103115056, 0.2818914570166907, 0.28370247596779175, 0.2856358581538336, 0.2659028141105446, 0.2505345005850862, 0.2621107894291175, 0.23185733228646993, 0.3004793755941284, 0.23935257761796297, 0.28583490504611603, 0.28260472204643206, 0.2810137030382131, 0.3080873288618836, 0.3177726704978503, 0.27735003889505405, 0.2644361589240212, 0.24058113067159548, 0.27403115186725224, 0.26434113299504164, 0.2784188554174356, 0.2942014330066857, 0.2821892075590164, 0.2726281459914087, 0.25664774276958413, 0.3147172185359132, 0.2582687840398452, 0.26056587820539984, 0.25773961281037727, 0.2878674564858138, 0.2626284254072039, 0.2623599516049564, 0.28023188293007545, 0.2597370982715309, 0.28397248963838717, 0.26019573460872736, 0.23998590593170005, 0.2494931486996402, 0.2646957661396994, 0.26715755950582243, 0.25819671624041113, 0.29059019436022093, 0.3528146702763581, 0.2851079974021464, 0.2777411536250705, 0.2517202361268656, 0.25683112636081734, 0.27093338161943636, 0.2601116972038004, 0.27080561100990175]
[0.2539282360850867, 0.2968500389965149, 0.2675968133241503, 0.2751533736530398, 0.27969994868589765, 0.2818875014039446, 0.2625023211488587, 0.2568746094052687, 0.2598991023424362, 0.22827463766548622, 0.2973446068358377, 0.22491244864869014, 0.2920583043519335, 0.2787595935396137, 0.2780869100887306, 0.30021167826320416, 0.3111894380917889, 0.2682912635648961, 0.26655730374216463, 0.23765307712324243, 0.2718273088798095, 0.26162867372010995, 0.2740959724434093, 0.2855219404473833, 0.28103788873146296, 0.27044942473372413, 0.25150775142758147, 0.30103351734722866, 0.26165437295388516, 0.256023338622752, 0.2582140784526017, 0.28342454268847905, 0.25637835669151243, 0.25710021116058845, 0.2834907362873974, 0.25401159100730386, 0.28198715673286817, 0.25425525504960766, 0.2362209118728272, 0.2560543711158583, 0.2610659268509053, 0.26742061675358564, 0.258558679432282, 0.28931678821934737, 0.35800734008592044, 0.2855375415624919, 0.27755775255728504, 0.25115200469125976, 0.2502541572689519, 0.2656965388309169, 0.24699448494419354, 0.2716341437868935]
[0.2525611361892232, 0.28204857839097414, 0.25606570694073566, 0.27168961184461043, 0.27820336088259257, 0.2744235506609049, 0.2611082648660945, 0.24981513624073223, 0.2588136801959629, 0.22706817243023952, 0.29314477197672634, 0.22665526908479477, 0.2838529043414682, 0.276242512087393, 0.27318957725856324, 0.3058646989314652, 0.30596970694932, 0.2647766572974372, 0.2644220881759083, 0.23035985385131005, 0.2727708710074074, 0.2598660328898666, 0.26655168395232515, 0.2836546798962841, 0.2842030391475515, 0.26583188604584074, 0.24584961098532487, 0.3041291702001356, 0.2571855927191824, 0.2530262340410611, 0.25453313496645397, 0.27484986789487015, 0.2557854226507484, 0.2510123704371735, 0.2734850508356836, 0.2559774019603645, 0.2860628711205376, 0.25063225247727644, 0.23444740320023777, 0.2516090757009466, 0.2553895959278387, 0.2518127436489415, 0.25192782144230214, 0.2874486794473417, 0.3447106351525948, 0.3041097997987089, 0.2727266053281918, 0.24931894902774443, 0.25089922452603414, 0.2610214134374968, 0.2606445187326246, 0.26948708626085077]
[0.2523365547972484, 0.27554895436903193, 0.2615161633747529, 0.2686922423813133, 0.2793833721312079, 0.26864169768994994, 0.2616152366856749, 0.24083405058107918, 0.2572612967081307, 0.2227735389865301, 0.28892327358451486, 0.2208908573930112, 0.28804746899010386, 0.27286205605578806, 0.27014410493835195, 0.30391403884287577, 0.3035018923509573, 0.2775037500833091, 0.26233648127563913, 0.2324528690627102, 0.2680504590249705, 0.25530171797319395, 0.2643978905815997, 0.2814869552297175, 0.2733402912353248, 0.26508065108445383, 0.2501486282758481, 0.30017323356839526, 0.25508794446634325, 0.24713312177084154, 0.2533723228614444, 0.27485400364770984, 0.25246419729732505, 0.25006940548375123, 0.2750349758717969, 0.2518343312762797, 0.28244605090696573, 0.25152260142117544, 0.23227090678247805, 0.24542395739969644, 0.25605585234364586, 0.24933772631016235, 0.24779127837609222, 0.2843905284893178, 0.34529366695471025, 0.289326290167392, 0.2708458852458701, 0.2483793061895717, 0.2445694117449188, 0.26073919875837714, 0.2649799584456754, 0.25836716307978275]
[0.25214806191394135, 0.2745061213684818, 0.2544610925787936, 0.2724010478202785, 0.2746240097875094, 0.26798039578706373, 0.2541610199822364, 0.24650193923606964, 0.2513904154676879, 0.21874808498611217, 0.2806072025553048, 0.21993807231656684, 0.27978537855009405, 0.2687100179982184, 0.26646209476679805, 0.30075806471317085, 0.3014132325933502, 0.2643529983557882, 0.26238643017765595, 0.22783661936509692, 0.26396844949144244, 0.25284416609255495, 0.26150210036085675, 0.28088517843625044, 0.27544744360364115, 0.259180548158104, 0.24507218016374743, 0.2964906567760117, 0.24852749114190584, 0.24470411684478785, 0.25090291318068575, 0.27263703328666034, 0.25067781214631313, 0.24969271162899556, 0.27282824546312956, 0.24954445402813932, 0.2856544826093394, 0.24480409436344605, 0.23087880204084527, 0.24068392239700911, 0.24640603207059247, 0.2501799865008465, 0.24550576927593298, 0.2821300360885403, 0.34299512216821776, 0.2801912152566443, 0.26799917720181465, 0.24630031710331635, 0.24055534128166062, 0.25637605494254834, 0.2524429475680333, 0.2524600916522278]
[0.24871382068198483, 0.2732439054960309, 0.2478757169641435, 0.2609657070645443, 0.2740733874227752, 0.26521262060845224, 0.2538043502558487, 0.23313036530100217, 0.2566478491120404, 0.22001362382478218, 0.28309236729354187, 0.22086930758752016, 0.27439759778081657, 0.2674944252704504, 0.2635150325965813, 0.2926129011907014, 0.30392513607362154, 0.25964213954863613, 0.2582824519613816, 0.21406264186201232, 0.2612937903917034, 0.25275514040657004, 0.25309242141471316, 0.28086714672167684, 0.26707658381321553, 0.25693482574310034, 0.23685406332962497, 0.29732373654171207, 0.2428521973055583, 0.24517619859942985, 0.24919329514933536, 0.26658620571120084, 0.24844236673377, 0.24338527625993106, 0.2746707558104741, 0.2447376899811343, 0.2781384574128341, 0.24491894446761822, 0.22957964093245903, 0.2334899248669971, 0.24809748794363945, 0.2483616279953426, 0.24527012843528645, 0.27921939605203955, 0.3386475115852304, 0.2872267504175079, 0.26289790615535535, 0.2396033346727251, 0.23825144510968446, 0.24939859308325066, 0.24221655194803793, 0.24589950554465742]

In [18]:
#Get the average of all the year for each individual state
average = []

for i in range(0, 52, 1):
    sum = 0
    for m in mean_of_2013_2018:
        sum += m[i]
    aver = sum / 11
    average.append(aver)
    
print(average)

[0.1377688807375079, 0.15519828235026661, 0.1415893567467024, 0.1482539490709525, 0.15178968680707042, 0.149434693118559, 0.1417358188226598, 0.1343355092135671, 0.1405566484777614, 0.1226123081981473, 0.15850832707636855, 0.12296532114986782, 0.15490695991459383, 0.14969757518162688, 0.14840103842611257, 0.1646771555275728, 0.16761564332335346, 0.14653789524955643, 0.14349281038697914, 0.12572238108508796, 0.1465401846056896, 0.14061244218884883, 0.14527808401548542, 0.155147030339818, 0.15120858673547383, 0.14455504379605744, 0.13509817972288282, 0.1648970484517633, 0.13850694387515636, 0.13696626255311564, 0.13854139612917257, 0.15092900997406672, 0.13876150735698844, 0.13760181150685422, 0.15088560429077794, 0.1378038696840684, 0.15438740985644836, 0.13693898930798645, 0.12758032461459523, 0.13425040001637709, 0.13924642375239285, 0.1394791146104274, 0.13702276301839156, 0.15573596569607343, 0.18931535874754835, 0.15740905405499014, 0.14816077091941704, 0.13513401343740755, 0.13466915511746066, 0.14219683460654783, 0.13885365080385137, 0.14260487284857398]

In [19]:
average_data ={"state": states,
       "average": average}
final = pd.DataFrame(average_data)
print(final)

                   state   average
0                Alabama  0.137769
1                 Alaska  0.155198
2                Arizona  0.141589
3               Arkansas  0.148254
4             California  0.151790
5               Colorado  0.149435
6            Connecticut  0.141736
7               Delaware  0.134336
8   District of Columbia  0.140557
9                Florida  0.122612
10               Georgia  0.158508
11                Hawaii  0.122965
12                 Idaho  0.154907
13              Illinois  0.149698
14               Indiana  0.148401
15                  Iowa  0.164677
16                Kansas  0.167616
17              Kentucky  0.146538
18             Louisiana  0.143493
19                 Maine  0.125722
20              Maryland  0.146540
21         Massachusetts  0.140612
22              Michigan  0.145278
23             Minnesota  0.155147
24           Mississippi  0.151209
25              Missouri  0.144555
26               Montana  0.135098
27              Nebraska  0.164897
28                Nevada  0.138507
29         New Hampshire  0.136966
30            New Jersey  0.138541
31            New Mexico  0.150929
32              New York  0.138762
33        North Carolina  0.137602
34          North Dakota  0.150886
35                  Ohio  0.137804
36              Oklahoma  0.154387
37                Oregon  0.136939
38          Pennsylvania  0.127580
39          Rhode Island  0.134250
40        South Carolina  0.139246
41          South Dakota  0.139479
42             Tennessee  0.137023
43                 Texas  0.155736
44                  Utah  0.189315
45               Vermont  0.157409
46              Virginia  0.148161
47            Washington  0.135134
48         West Virginia  0.134669
49             Wisconsin  0.142197
50               Wyoming  0.138854
51           Puerto Rico  0.142605

In [20]:
final.to_csv('data/EducationalByState.csv')