In [211]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline
import re

In [212]:
df = pd.read_csv('/Users/yuesun/Downloads/ACSDT1Y2021.B14001-2022-11-08T013154.csv', encoding='utf-8')

In [213]:
df

,Label (Grouping),"Baldwin County, Alabama!!Estimate","Calhoun County, Alabama!!Estimate","Cullman County, Alabama!!Estimate","DeKalb County, Alabama!!Estimate","Elmore County, Alabama!!Estimate","Etowah County, Alabama!!Estimate","Houston County, Alabama!!Estimate","Jefferson County, Alabama!!Estimate","Lauderdale County, Alabama!!Estimate",...,"Bayamón Municipio, Puerto Rico!!Estimate","Caguas Municipio, Puerto Rico!!Estimate","Carolina Municipio, Puerto Rico!!Estimate","Guaynabo Municipio, Puerto Rico!!Estimate","Mayagüez Municipio, Puerto Rico!!Estimate","Ponce Municipio, Puerto Rico!!Estimate","San Juan Municipio, Puerto Rico!!Estimate","Toa Alta Municipio, Puerto Rico!!Estimate","Toa Baja Municipio, Puerto Rico!!Estimate","Trujillo Alto Municipio, Puerto Rico!!Estimate"
0,Total:,"233,161","112,533","86,684","68,392","87,103","99,286","103,959","646,182","90,854",...,"179,126","124,631","150,475","87,951","70,896","132,804","331,487","66,852","73,075","66,356"
1,Enrolled in school:,"44,235","25,844","19,976","15,220","20,974","21,740","23,728","160,939","21,980",...,"41,124","27,955","30,813","18,000","19,532","31,034","75,296","14,596","15,147","15,691"
2,"Enrolled in nursery school, preschool","2,308","1,332",861,731,"2,060",41,"1,924","9,367","1,149",...,"2,178","1,263","1,760","1,008",725,"1,009","3,106",355,125,585
3,Enrolled in kindergarten,"2,906","1,063",699,916,"1,164","1,561",863,"9,566",924,...,"1,343",557,426,298,779,921,"2,314",232,657,220
4,Enrolled in grade 1 to grade 4,"8,613","4,963","4,138","4,215","4,175","4,606","4,823","34,332","4,584",...,"6,992","5,637","7,463","2,580","2,179","5,622","11,427","2,747","3,071","3,578"
5,Enrolled in grade 5 to grade 8,"13,570","5,925","5,398","2,957","5,125","5,632","6,154","32,960","4,308",...,"5,770","5,483","5,242","3,900","2,321","6,337","13,566","4,036","3,268","2,487"
6,Enrolled in grade 9 to grade 12,"10,410","5,936","4,817","3,278","5,357","4,905","5,314","32,763","4,125",...,"8,100","6,705","5,504","2,806","3,697","6,602","13,357","2,714","2,899","3,317"
7,"Enrolled in college, undergraduate years","5,753","5,735","2,549","2,796","2,815","3,918","3,725","30,298","5,664",...,"12,583","6,750","9,497","5,528","8,856","6,972","23,296","3,776","4,338","3,641"
8,Graduate or professional school,675,890,"1,514",327,278,"1,077",925,"11,653","1,226",...,"4,158","1,560",921,"1,880",975,"3,571","8,230",736,789,"1,863"
9,Not enrolled in school,"188,926","86,689","66,708","53,172","66,129","77,546","80,231","485,243","68,874",...,"138,002","96,676","119,662","69,951","51,364","101,770","256,191","52,256","57,928","50,665"

In [214]:
# swap x and y

In [215]:
df = df.swapaxes("index", "columns")
df

,0,1,2,3,4,5,6,7,8,9
Label (Grouping),Total:,Enrolled in school:,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to grade 4,Enrolled in grade 5 to grade 8,Enrolled in grade 9 to grade 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
"Baldwin County, Alabama!!Estimate","233,161","44,235","2,308","2,906","8,613","13,570","10,410","5,753",675,"188,926"
"Calhoun County, Alabama!!Estimate","112,533","25,844","1,332","1,063","4,963","5,925","5,936","5,735",890,"86,689"
"Cullman County, Alabama!!Estimate","86,684","19,976",861,699,"4,138","5,398","4,817","2,549","1,514","66,708"
"DeKalb County, Alabama!!Estimate","68,392","15,220",731,916,"4,215","2,957","3,278","2,796",327,"53,172"
...,...,...,...,...,...,...,...,...,...,...
"Ponce Municipio, Puerto Rico!!Estimate","132,804","31,034","1,009",921,"5,622","6,337","6,602","6,972","3,571","101,770"
"San Juan Municipio, Puerto Rico!!Estimate","331,487","75,296","3,106","2,314","11,427","13,566","13,357","23,296","8,230","256,191"
"Toa Alta Municipio, Puerto Rico!!Estimate","66,852","14,596",355,232,"2,747","4,036","2,714","3,776",736,"52,256"
"Toa Baja Municipio, Puerto Rico!!Estimate","73,075","15,147",125,657,"3,071","3,268","2,899","4,338",789,"57,928"
"Trujillo Alto Municipio, Puerto Rico!!Estimate","66,356","15,691",585,220,"3,578","2,487","3,317","3,641","1,863","50,665"

In [216]:
# fix the header

In [217]:
df = df.rename(columns=df.iloc[0]).drop(df.index[0])
df

,Total:,Enrolled in school:,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to grade 4,Enrolled in grade 5 to grade 8,Enrolled in grade 9 to grade 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
"Baldwin County, Alabama!!Estimate","233,161","44,235","2,308","2,906","8,613","13,570","10,410","5,753",675,"188,926"
"Calhoun County, Alabama!!Estimate","112,533","25,844","1,332","1,063","4,963","5,925","5,936","5,735",890,"86,689"
"Cullman County, Alabama!!Estimate","86,684","19,976",861,699,"4,138","5,398","4,817","2,549","1,514","66,708"
"DeKalb County, Alabama!!Estimate","68,392","15,220",731,916,"4,215","2,957","3,278","2,796",327,"53,172"
"Elmore County, Alabama!!Estimate","87,103","20,974","2,060","1,164","4,175","5,125","5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...
"Ponce Municipio, Puerto Rico!!Estimate","132,804","31,034","1,009",921,"5,622","6,337","6,602","6,972","3,571","101,770"
"San Juan Municipio, Puerto Rico!!Estimate","331,487","75,296","3,106","2,314","11,427","13,566","13,357","23,296","8,230","256,191"
"Toa Alta Municipio, Puerto Rico!!Estimate","66,852","14,596",355,232,"2,747","4,036","2,714","3,776",736,"52,256"
"Toa Baja Municipio, Puerto Rico!!Estimate","73,075","15,147",125,657,"3,071","3,268","2,899","4,338",789,"57,928"
"Trujillo Alto Municipio, Puerto Rico!!Estimate","66,356","15,691",585,220,"3,578","2,487","3,317","3,641","1,863","50,665"

In [218]:
df.isnull().sum()

Total:                                              0
    Enrolled in school:                             0
        Enrolled in nursery school, preschool       0
        Enrolled in kindergarten                    0
        Enrolled in grade 1 to grade 4              0
        Enrolled in grade 5 to grade 8              0
        Enrolled in grade 9 to grade 12             0
        Enrolled in college, undergraduate years    0
        Graduate or professional school             0
    Not enrolled in school                          0
dtype: int64

In [219]:
# fix the index

In [220]:
df = df.reset_index()
df

,index,Total:,Enrolled in school:,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to grade 4,Enrolled in grade 5 to grade 8,Enrolled in grade 9 to grade 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate","233,161","44,235","2,308","2,906","8,613","13,570","10,410","5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate","112,533","25,844","1,332","1,063","4,963","5,925","5,936","5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate","86,684","19,976",861,699,"4,138","5,398","4,817","2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate","68,392","15,220",731,916,"4,215","2,957","3,278","2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate","87,103","20,974","2,060","1,164","4,175","5,125","5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate","132,804","31,034","1,009",921,"5,622","6,337","6,602","6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate","331,487","75,296","3,106","2,314","11,427","13,566","13,357","23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate","66,852","14,596",355,232,"2,747","4,036","2,714","3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate","73,075","15,147",125,657,"3,071","3,268","2,899","4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate","66,356","15,691",585,220,"3,578","2,487","3,317","3,641","1,863","50,665"

In [221]:
# fix the formating of the header

In [222]:
df = df.set_axis(['Label', 'Total', 'Enrolled in school', 'Enrolled in nursery school, preschool', 'Enrolled in kindergarten', 'Enrolled in grade 1 to 4', 'Enrolled in grade 5 to 8', 'Enrolled in grade 9 to 12', 'Enrolled in college, undergraduate years', 'Graduate or professional school', 'Not enrolled in school'], axis=1, inplace=False)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate","233,161","44,235","2,308","2,906","8,613","13,570","10,410","5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate","112,533","25,844","1,332","1,063","4,963","5,925","5,936","5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate","86,684","19,976",861,699,"4,138","5,398","4,817","2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate","68,392","15,220",731,916,"4,215","2,957","3,278","2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate","87,103","20,974","2,060","1,164","4,175","5,125","5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate","132,804","31,034","1,009",921,"5,622","6,337","6,602","6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate","331,487","75,296","3,106","2,314","11,427","13,566","13,357","23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate","66,852","14,596",355,232,"2,747","4,036","2,714","3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate","73,075","15,147",125,657,"3,071","3,268","2,899","4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate","66,356","15,691",585,220,"3,578","2,487","3,317","3,641","1,863","50,665"

In [223]:
# get rid of the "," in numbers and convert them from str to int

In [224]:
df['Total'] = df.Total.str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,"44,235","2,308","2,906","8,613","13,570","10,410","5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,"25,844","1,332","1,063","4,963","5,925","5,936","5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,"19,976",861,699,"4,138","5,398","4,817","2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate",68392,"15,220",731,916,"4,215","2,957","3,278","2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,"20,974","2,060","1,164","4,175","5,125","5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,"31,034","1,009",921,"5,622","6,337","6,602","6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,"75,296","3,106","2,314","11,427","13,566","13,357","23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,"14,596",355,232,"2,747","4,036","2,714","3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,"15,147",125,657,"3,071","3,268","2,899","4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,"15,691",585,220,"3,578","2,487","3,317","3,641","1,863","50,665"

In [225]:
df['Enrolled in school'] = df['Enrolled in school'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,"2,308","2,906","8,613","13,570","10,410","5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,25844,"1,332","1,063","4,963","5,925","5,936","5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,"4,138","5,398","4,817","2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,"4,215","2,957","3,278","2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,20974,"2,060","1,164","4,175","5,125","5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,"1,009",921,"5,622","6,337","6,602","6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,"3,106","2,314","11,427","13,566","13,357","23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,"2,747","4,036","2,714","3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,"3,071","3,268","2,899","4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,"3,578","2,487","3,317","3,641","1,863","50,665"

In [226]:
df['Enrolled in nursery school, preschool'] = df['Enrolled in nursery school, preschool'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,"2,906","8,613","13,570","10,410","5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,"1,063","4,963","5,925","5,936","5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,"4,138","5,398","4,817","2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,"4,215","2,957","3,278","2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,"1,164","4,175","5,125","5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,"5,622","6,337","6,602","6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,"2,314","11,427","13,566","13,357","23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,"2,747","4,036","2,714","3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,"3,071","3,268","2,899","4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,"3,578","2,487","3,317","3,641","1,863","50,665"

In [227]:
df['Enrolled in kindergarten'] = df['Enrolled in kindergarten'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,2906,"8,613","13,570","10,410","5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,1063,"4,963","5,925","5,936","5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,"4,138","5,398","4,817","2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,"4,215","2,957","3,278","2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,1164,"4,175","5,125","5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,"5,622","6,337","6,602","6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,2314,"11,427","13,566","13,357","23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,"2,747","4,036","2,714","3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,"3,071","3,268","2,899","4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,"3,578","2,487","3,317","3,641","1,863","50,665"

In [228]:
df['Enrolled in grade 1 to 4'] = df['Enrolled in grade 1 to 4'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,2906,8613,"13,570","10,410","5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,1063,4963,"5,925","5,936","5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,4138,"5,398","4,817","2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,4215,"2,957","3,278","2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,1164,4175,"5,125","5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,5622,"6,337","6,602","6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,2314,11427,"13,566","13,357","23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,2747,"4,036","2,714","3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,3071,"3,268","2,899","4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,3578,"2,487","3,317","3,641","1,863","50,665"

In [229]:
df['Enrolled in grade 5 to 8'] = df['Enrolled in grade 5 to 8'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,2906,8613,13570,"10,410","5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,1063,4963,5925,"5,936","5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,4138,5398,"4,817","2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,4215,2957,"3,278","2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,1164,4175,5125,"5,357","2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,5622,6337,"6,602","6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,2314,11427,13566,"13,357","23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,2747,4036,"2,714","3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,3071,3268,"2,899","4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,3578,2487,"3,317","3,641","1,863","50,665"

In [230]:
df['Enrolled in grade 9 to 12'] = df['Enrolled in grade 9 to 12'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,2906,8613,13570,10410,"5,753",675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,1063,4963,5925,5936,"5,735",890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,4138,5398,4817,"2,549","1,514","66,708"
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,4215,2957,3278,"2,796",327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,1164,4175,5125,5357,"2,815",278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,5622,6337,6602,"6,972","3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,2314,11427,13566,13357,"23,296","8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,2747,4036,2714,"3,776",736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,3071,3268,2899,"4,338",789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,3578,2487,3317,"3,641","1,863","50,665"

In [231]:
df['Enrolled in college, undergraduate years'] = df['Enrolled in college, undergraduate years'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,2906,8613,13570,10410,5753,675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,1063,4963,5925,5936,5735,890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,4138,5398,4817,2549,"1,514","66,708"
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,4215,2957,3278,2796,327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,1164,4175,5125,5357,2815,278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,5622,6337,6602,6972,"3,571","101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,2314,11427,13566,13357,23296,"8,230","256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,2747,4036,2714,3776,736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,3071,3268,2899,4338,789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,3578,2487,3317,3641,"1,863","50,665"

In [232]:
df['Graduate or professional school'] = df['Graduate or professional school'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,2906,8613,13570,10410,5753,675,"188,926"
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,1063,4963,5925,5936,5735,890,"86,689"
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,4138,5398,4817,2549,1514,"66,708"
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,4215,2957,3278,2796,327,"53,172"
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,1164,4175,5125,5357,2815,278,"66,129"
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,5622,6337,6602,6972,3571,"101,770"
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,2314,11427,13566,13357,23296,8230,"256,191"
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,2747,4036,2714,3776,736,"52,256"
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,3071,3268,2899,4338,789,"57,928"
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,3578,2487,3317,3641,1863,"50,665"

In [233]:
df['Not enrolled in school'] = df['Not enrolled in school'].str.split(',').str.join('').astype(int)
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,2906,8613,13570,10410,5753,675,188926
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,1063,4963,5925,5936,5735,890,86689
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,4138,5398,4817,2549,1514,66708
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,4215,2957,3278,2796,327,53172
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,1164,4175,5125,5357,2815,278,66129
...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,5622,6337,6602,6972,3571,101770
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,2314,11427,13566,13357,23296,8230,256191
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,2747,4036,2714,3776,736,52256
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,3071,3268,2899,4338,789,57928
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,3578,2487,3317,3641,1863,50665

In [234]:
# add a Educational rate column

In [235]:
df['Educational ratio'] = (df['Enrolled in school'] / df['Total'])

In [236]:
df

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school,Educational ratio
0,"Baldwin County, Alabama!!Estimate",233161,44235,2308,2906,8613,13570,10410,5753,675,188926,0.189719
1,"Calhoun County, Alabama!!Estimate",112533,25844,1332,1063,4963,5925,5936,5735,890,86689,0.229657
2,"Cullman County, Alabama!!Estimate",86684,19976,861,699,4138,5398,4817,2549,1514,66708,0.230446
3,"DeKalb County, Alabama!!Estimate",68392,15220,731,916,4215,2957,3278,2796,327,53172,0.222541
4,"Elmore County, Alabama!!Estimate",87103,20974,2060,1164,4175,5125,5357,2815,278,66129,0.240795
...,...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico!!Estimate",132804,31034,1009,921,5622,6337,6602,6972,3571,101770,0.233683
837,"San Juan Municipio, Puerto Rico!!Estimate",331487,75296,3106,2314,11427,13566,13357,23296,8230,256191,0.227146
838,"Toa Alta Municipio, Puerto Rico!!Estimate",66852,14596,355,232,2747,4036,2714,3776,736,52256,0.218333
839,"Toa Baja Municipio, Puerto Rico!!Estimate",73075,15147,125,657,3071,3268,2899,4338,789,57928,0.207280
840,"Trujillo Alto Municipio, Puerto Rico!!Estimate",66356,15691,585,220,3578,2487,3317,3641,1863,50665,0.236467

In [239]:
df['Label'] = df['Label'].str.replace(r'!!Estimate$', '')
df

/var/folders/jb/y1fhlj6s7216bx8xsqnjjj9m0000gn/T/ipykernel_97464/246700172.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Label'] = df['Label'].str.replace(r'!!Estimate$', '')

,Label,Total,Enrolled in school,"Enrolled in nursery school, preschool",Enrolled in kindergarten,Enrolled in grade 1 to 4,Enrolled in grade 5 to 8,Enrolled in grade 9 to 12,"Enrolled in college, undergraduate years",Graduate or professional school,Not enrolled in school,Educational ratio
0,"Baldwin County, Alabama",233161,44235,2308,2906,8613,13570,10410,5753,675,188926,0.189719
1,"Calhoun County, Alabama",112533,25844,1332,1063,4963,5925,5936,5735,890,86689,0.229657
2,"Cullman County, Alabama",86684,19976,861,699,4138,5398,4817,2549,1514,66708,0.230446
3,"DeKalb County, Alabama",68392,15220,731,916,4215,2957,3278,2796,327,53172,0.222541
4,"Elmore County, Alabama",87103,20974,2060,1164,4175,5125,5357,2815,278,66129,0.240795
...,...,...,...,...,...,...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico",132804,31034,1009,921,5622,6337,6602,6972,3571,101770,0.233683
837,"San Juan Municipio, Puerto Rico",331487,75296,3106,2314,11427,13566,13357,23296,8230,256191,0.227146
838,"Toa Alta Municipio, Puerto Rico",66852,14596,355,232,2747,4036,2714,3776,736,52256,0.218333
839,"Toa Baja Municipio, Puerto Rico",73075,15147,125,657,3071,3268,2899,4338,789,57928,0.207280
840,"Trujillo Alto Municipio, Puerto Rico",66356,15691,585,220,3578,2487,3317,3641,1863,50665,0.236467

In [240]:
df.to_csv('EducationByCZ.csv')